* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    margin-top: 5px;
    width: 100%;
    border-bottom: 3px double #b9b9b9;
    border-top: 3px double #b9b9b9;
    padding: 0px 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-item {
    display: block;
    padding: 12px 20px;
    color: #000000;
    text-decoration: none;
    border-right: 1px solid #ffffff;
}
.nav-item.nav-item-active {
    color: #04AA6D;
    border-left: 3px double #b9b9b9;
    border-right: 3px double #b9b9b9;
    font-weight: 600;
    font-size: 1.3em;
}
.container {
    max-width: 90%;
    margin: 10px auto;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "pic1 . pic2"
        "pic1 pic3 pic2"
        "pic4 pic3 pic5"
        "pic4 pic6 pic5";
    margin-bottom: 20px;
    grid-template-rows: repeat(4, 60px);
}
.gallery > a {
    display: block;
}
.gallery-img {
    height: 100%;
    width: 100%;
}
.gallery-img-1 {
    grid-area: pic1;
}
.gallery-img-2 {
    grid-area: pic2;
}
.gallery-img-3 {
    grid-area: pic3;
}
.gallery-img-4 {
    grid-area: pic4;
}
.gallery-img-5 {
    grid-area: pic5;
}
.gallery-img-6 {
    grid-area: pic6;
}

.topmenu {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.topmenu-item {
    text-align: center;
}
.topmenu-img {
    width: 90px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.topmenu-item a {
    color: #000000;
}



.vertical-cards {
    max-width: 900px;
    margin: 0 auto;
}
.article-item {
    background-color: #F8BBD0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    display: grid;
}
.article-item-1 {
    grid-template-columns: 100px 1fr 200px;
}
.article-item-2 {
    grid-template-columns: 200px 100px 1fr;
}
.article-img {
    width: 100%;
    border-radius: 20px;
}
.article-content,
.horizontal-content {
    text-align: justify;
}

.horizontal-cards {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}
.horizontal-item {
    background-color: #BCAAA4;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.horizontal-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.horizontal-title {
    text-align: center;
}

hr {
    margin-top: 20px;
}


.main-content {
    width: 60%;
    padding: 0 20px;
    float: left;
}

.btn-link {
    text-align: right;
    color: #ffffff;
    text-decoration: none;
    background-color: blue;
    padding: 3px;
    border-radius: 3px;
}
.btn-link-right {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .gallery,
    .topmenu,
    .article-item,
    .horizontal-cards {
        display: flex;
        flex-direction: column;
    }
    .article-item,
    .horizontal-cards {
        gap: 10px;
        width: 100%;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav-item.nav-item-active {
        border-bottom: 3px double #b9b9b9;
    }
}