.text-justify {
    text-align: justify;
}

.carousel-image {
    height: 500px;
    object-fit: cover;
}

.two-columns {
    column-count: 2;
    column-gap: 15px;
}

@media screen and (max-width: 768px) {
    .two-columns {
        column-count: 1;
    }
}
