@import '../variables'

.nav
  margin-top 5px
  width 100%
  border-bottom 3px double #b9b9b9
  border-top 3px double #b9b9b9
  padding 0px 40px
  display flex
  flex-direction row
  align-items center

  &__item
    display block
    padding 12px 20px
    color #000000
    text-decoration none
    border-right 1px solid #ffffff

    &:hover
      color #04AA6D

    &--active
      color #04AA6D
      border-left 3px double #b9b9b9
      border-right 3px double #b9b9b9
      font-weight 600
      font-size 1.3em