@import '../variables'

.nav
  margin-top $spacing-sm
  width 100%
  border-bottom 3px double $color-border
  border-top 3px double $color-border
  padding 0px $spacing-xl
  display flex
  flex-direction row
  align-items center

  &__item
    display block
    padding 12px $spacing-lg
    color $color-text
    text-decoration none
    border-right 1px solid $color-white

    &:hover
      color $color-primary

    &--active
      color $color-primary
      border-left 3px double $color-border
      border-right 3px double $color-border
      font-weight 600
      font-size 1.3em