@import 'variables'

*
  margin 0
  padding 0
  box-sizing border-box

.container
  max-width $container-max-width
  margin $spacing-md auto

hr
  margin-top $spacing-lg

.btn-link
  text-align right
  color $color-white
  text-decoration none
  background-color $color-btn-blue
  padding $spacing-xs
  border-radius $radius-sm
