@import 'variables'

*
  margin 0
  padding 0
  box-sizing border-box

.container
  max-width 90%
  margin 10px auto

hr
  margin-top 20px

.btn-link
  text-align right
  color #ffffff
  text-decoration none
  background-color blue
  padding 3px
  border-radius 3px
