element(name)
  &__{name}
    {block}

modifier(name)
  &--{name}
    {block}

flex-center()
  display flex
  align-items center
  justify-content center

flex-column()
  display flex
  flex-direction column
