extends ../components/layout

include ../components/gallery
include ../components/cards

block head
  - var pageTitle = "Горы"
  - var activePage = "index"

block content
  -
    var content = {
      gallery: [
        {name: "Эльбрус", image: "images/1.jpg", link: "rock.html", area: "pic1"},
        {name: "Дыхтау", image: "images/2.jpg", link: "rock.html", area: "pic2"},
        {name: "Коштантау", image: "images/3.jpg", link: "rock.html", area: "pic3"},
        {name: "Пик Пушкина", image: "images/4.jpg", link: "rock.html", area: "pic4"},
        {name: "Джангитау", image: "images/5.jpg", link: "rock.html", area: "pic5"},
        {name: "Шхара", image: "images/6.jpg", link: "rock.html", area: "pic6"}
      ],
      topMenu: [
        {name: "Мижирги", image: "images/7.jpg", height: "5047 м", link: "rock.html"},
        {name: "Казбек", image: "images/8.jpg", height: "5032 м", link: "rock.html"},
        {name: "Катын-Тау", image: "images/9.jpg", height: "5032 м", link: "rock.html"},
        {name: "Шота Руставели", image: "images/10.jpg", height: "4859 м", link: "rock.html"},
        {name: "Гестола", image: "images/11.jpg", height: "4860 м", link: "rock.html"}
      ],
      articles: [
        {
          title: "Джангитау",
          image: "images/5.jpg",
          content: "Джангита́у[4] (карач.-балк. Джангы тау — «Новая гора»), или Джанга[4] (груз. ჯანღა) — горная вершина в центральной части Главного Кавказского хребта на границе России и Грузии. Высота главной вершины 5085 м[2]. Это пятая по высоте вершина Российской части Кавказа, и вторая в Грузии (после Шхары). В массиве Джангитау выделяют ещё две вершины: Западную (5058,8 м, 43°01′08″ N, 43°03′07″E), — именно она на картах генштаба обозначена как г. Джангитау, и Восточную (5033,6 м, 43°00′48″ N, 43°04′14″E), на тех же картах именуемая как Пик Пушкина, который находится в 6,5 км северо-восточнее в массиве Дыхтау[5]. Джангитау находится в центре 13-километрового горного массива, известного под названием Безенгийская стена и популярна в альпинизме. На вершину проложены маршруты 4Б-5А категории сложности[1], также через неё проходит маршрут «траверс Безенгийской стены» (5Б, зимний вариант — 6А).",
          link: "rock.html"
        },
        {
          title: "Шха́ра",
          image: "images/14.jpg",
          content: "Шха́ра (груз. შხარა — «полосатая», карач.-балк. ушхара) — горная вершина в центральной части Главного Кавказского (Водораздельного) хребта, является его высочайшей точкой, также высочайшая точка Грузии, также вторая по высоте гора Европы (при условии проведения границы между Европой и Азией по Главному Кавказскому хребту или южнее). Высота главной вершины — 5203 м, уточнена в 2010 году альпинистами Питером Шоном и Борисом Авдеевым с помощью приемника DGPS[2]. В массиве Шхары, также выделяют западную вершину — 5068,8 м (42°59′57″ N, 43°05′23″E)[3] (на картах генштаба[4] она ошибочно обозначена как главная) и восточную вершину — 4866,5 м (43°00′12″ N, 43°07′39″E).",
          link: "rock.html"
        }
      ],
      horizontalCards: [
        {
          title: "Гестола",
          image: "images/11.jpg",
          content: "Ге́стола (карач.-балк. Гестола, груз. გისტოლა) — одна из вершин Безенгийской стены главного Кавказского хребта, район Безенги. С горы стекает река Большой Черек<br>С севера вершина имеет характерную форму, красиво выделяясь чётким треугольником на контуре Безенгийской стены. В плане — пирамида с почти квадратным основанием, ориентированным под 45° к сторонам света.<br>На вершину (4860 м) описаны различные скально-ледовые маршруты от 3Б до 5Б, как фронтально из долины, так и траверсом части Безенгийской стены через пик Есенина (4310), Ляльвер.<br>Название горы отсылает к балкарскому личному имени Гестола.",
          link: "rock.html"
        },
        {
          title: "Джимара",
          image: "images/12.jpg",
          content: "Джимара́ (Джимарай-хох или Гимарай-хох, груз. ჯიმარა, осет. Джимарайы хох; устар. Колкай-хох) — гора на Хохском хребте в центральной части Большого Кавказа. Высота — 4780 м (вторая по высоте вершина Хохского хребта). Находится в 9 км к западу от вулкана Казбек. По вершине Джимары проходит государственная граница между Российской Федерацией и Республикой Грузия.<br>Вершинная часть Джимары на большей площади покрыта фирновыми полями. Со склонов горы спускается четыре ледника: на западном склоне — ледник Мидаграбин, на северном — ледник Колка, на южном — ледники Западный и Центральный Суатиси. С ледников и снежников на склонах Джимары берут начало реки Суатиси, Джимарадон и Тепидон — на южном склоне горы, Мидаграбиндон и Геналдон — на северном.",
          link: "rock.html"
        }
      ]
    }

  +gallery(content.gallery)

  +topMenu(content.topMenu)

  .vertical-cards
    +articleCard(content.articles[0], 'img-left')
    +articleCard(content.articles[1], 'img-right')

  .horizontal-cards
    +horizontalCard(content.horizontalCards[0], 'img-left')
    +horizontalCard(content.horizontalCards[1], 'img-right')
